// Part of OdooAppBox(https://github.com/youzengjian/OdooAppBox). 
// See README.md and LICENSE files for full copyright and licensing details.

field-many2many-tags {
    div.box {
        min-height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        opacity: 0.7;
        &.edit_mode {
            opacity: 1;
        }
    }

    div.label {
        flex-shrink: 0;
        margin-right: 1.0rem;
        white-space: nowrap;
    }

    ion-badge {
        background-color: #c392b6 !important;
    }

    div.placeholder {
        opacity: 0.4;
    }

    div.items {
        border: none;
        padding: 0.5rem 0;
        text-align: right;
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
    div.item.record {
        margin: 0 0.1rem;
    }

    &.value-left div.items {
        justify-content: flex-start;
    }

    &.value-center div.items {
        justify-content: center;
    }

    &.value-right div.items, div.items {
        justify-content: flex-end;
    }
}
