// Part of OdooAppBox(https://github.com/youzengjian/OdooAppBox). 
// See README.md and LICENSE files for full copyright and licensing details.

field-binary {
    div.box {
        min-height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        opacity: 0.7;
        &.edit_mode {
            opacity: 1;
        }
    }

    div.label {
        flex-shrink: 0;
        margin-right: 1.0rem;
    }

    div.value {
        width: 100%;
        flex: 1 1 auto;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0;
    }

    &.value-left {
        div.value, input.value {
            text-align: left;
        }
    }

    &.value-center {
        div.value, input.value {
            text-align: center;
        }
    }

    div.value, input.value {
        text-align: right;
    }
    
    &.value-right {
        div.value, input.value {
            text-align: right;
        }
    }
}
